body {
    background-image: url("\header_pre_workout_booster.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.group {
    height: 200px;
    width: 1200px;
    background-image: url("\young-bodybuilder-doing-pushups-at-the-outdoor-gym-royalty-free-image-1661874908.jpg");
    background-size: cover;
    float: right;
    margin-top: 70px;
    position: relative;
    animation-name: gr;
    animation-duration: 3s;
    animation-direction: reverse;
    transition: 2s;
    z-index: 0;
}

.individual {
    height: 200px;
    width: 1200px;
    background-image: url("\young-bodybuilder-doing-pushups-at-the-outdoor-gym-royalty-free-image-1661874908.jpg");
    background-size: cover;
    float: left;
    margin-top: 100px;
    position: relative;
    animation-name: indiv;
    animation-direction: reverse;
    animation-duration: 3s;
    transition: 2s;
    z-index: 0;
}

@keyframes gr {
    0%   { right:0px; bottom:0px;}
    100% { right:500px; bottom: 70px;}
}
@keyframes indiv {
    0%  { left: 0px; top: 0px; }
    100% { left: 500px; top:100px; }
}

.clear {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    animation-duration: 3s;
    animation-direction: reverse;
    transition: 2s;
    opacity: 0;
    z-index: 1;
}

.group:hover p {
    color: red;
    z-index: 999;
}

.clear:hover {
    opacity: 0.5;
}

.individual:hover p {
    color: red;
    z-index: 999;
}


p {
    font-size: 110px;
    color: white;
    vertical-align: text-bottom;
    text-align: center;
    transition: 2s;
    position: relative;
}
