* {
    font-size: 25px;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.class1 {
    height: 200px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cc66ff;
    text-align: center;
    border-radius: 5px;
    position: relative;
    margin-top: 30px;
    margin-left: 100px;
    animation-name: class1;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
}

@keyframes class1 {
    0%   {
        left:0px; bottom:0px;
    }

    100% {
        left:500px; bottom: -70px;
    }
}


.class2 {
    height: 200px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99ff33;
    text-align: center;
    border-radius: 5px;
    position: relative;
    margin-top: 250px;
    margin-left: 450px;
    animation-name: class2;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
}

@keyframes class2 {
    0%   {
        right:0px; bottom:0px;
    }

    100% {
        right:400px; bottom: 70px;
    }
}
